<!doctype html>
<html>
    <head>
        <title>Chiam Travel</title>
    </head>
    <body>
        <header><img src="/img/logo.png" alt="Chiam Travel Logo" width="70%" height="50%"></header>
        {{{body}}}
    </body>
</html>